@model Wedding

<a asp-controller="Wedding" asp-action="AllWeddings">Home</a>
|
<a asp-controller="Wedding" asp-action="PlanWedding">Plan a Wedding</a>
|
<a asp-controller="Wedding" asp-action="ViewWedding">View Wedding</a>
|
<a asp-controller="User" asp-action="Logout">Logout</a>


<h1>The Wedding Of @Model.WedderOne & @Model.WedderTwo</h1>

<h2>Date: @Model.WeddingDate</h2>

<h2>Guest List</h2>
<ul>
    @foreach (var rsvp in Model.Guests)
    {
        <li>@rsvp.User.FirstName @rsvp.User.LastName</li>
    }
</ul>
