@{
    ViewData["Title"] = "Home Page";
}

@model List<Post>
<div class="text-center">
    <h1 class="display-4">Welcome to the All Posts page!</h1>
    @foreach (Post post in Model)
    {
        <div class="card shadow rounded mx-auto w-75 mb-3">
            <h4 class="card-title text-center bg-dark text-light rounded-top">
                <a asp-controller="Post" asp-action="ViewPost" asp-route-postId="@post.PostId">@post.Topic</a>
            </h4>
            <div class="card-body">
                <img src="@post.ImageUrl" alt="broken image"  class="w-50">
            </div>
            <div class="card-footer shadow rounded mx-auto mb-3">
                <p class=card-text>@post.Body</p>
                <small class="text-muted">Submitted on: @post.CreatedAt</small>
            </div>
        </div>
    }
</div>
