@{
    ViewData["Title"] = "Home Page";
}

@model List<Post>
<div class="text-center">
    <h1 class="display-4">Welcome to the All Posts page!</h1>
    @foreach (Post post in Model)
    {
        <div class="card shadow rounded mx-auto w-75 mb-3">
            <h4 class="card-title text-center bg-dark text-light rounded-top">
                <a asp-controller="Post" asp-action="ViewPost" asp-route-postId="@post.PostId">@post.Topic</a>
            </h4>
            <div class="card-body">
                <img src="@post.ImageUrl" alt="broken image" class="w-50">
                <p class=card-text>@post.Body</p>
                <small class="text-muted">Submitted on: @post.CreatedAt</small>
                <small class="text-muted">Submitted by: @post.Creator.FirstName</small>
            </div>
            <div class="card-footer shadow rounded w-100 mx-auto">
                <h3>Has been liked: @post.PostLikes.Count times</h3> 
                @foreach (UserPostLike like in post.PostLikes)
                {
                    <p>@like.User.FirstName liked this!</p>
                }
                    @{bool alreadyLiked = post.PostLikes.Any(like => like.UserId == Context.Session.GetInt32("UUID"));}

                    <form asp-controller="Post" asp-action="Like" asp-route-postId=@post.PostId method="post">
                        <button class="btn btn-outline-danger">
                            @if(alreadyLiked)
                            {
                                <span>Unlike</span>
                            }
                            else
                            {
                                <span>Like</span>
                            }
                        </button>
                    </form>
            </div>
        </div>
    }
</div>
